@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black:#333;
    --white:#FFF;
    --light-color:#666;
    --main-color:#864AF9;
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform:capitalize;
    transition: all .2s linear;
    text-decoration: none;
}
html{
    font-size: 63.5%;

}
header{
    background-color: #fff;
    position: fixed;
    top: 0;left: 0;right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
}
header .logo p{
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
}
header .logo span{
    color: var(--main-color);
    text-transform: capitalize;
}
header .navbar a {
    font-size: 1.5rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 1rem;
    padding: 1rem;
}

header .navbar a:hover{
    background-color: var(--main-color);
    color: var(--white);
}

header .btn{
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: .1rem .5rem 1rem #999;
}
header .btn:hover{
    border-radius: 0;
    scale: 1.2;
}
.home{
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
    width: 100%;
}
.image{
    width: 50%;
}
.image img{
    height: 40rem;
    width: 100%;
    object-fit: cover;
}
.home .content{
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 1rem ;
    padding-left: 10rem;
    width: 50%;
}
.home .content h1{
    font-size: 4rem;
    color: black;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.home .content span{
    color: var(--main-color);
}
.home .content p{
    color: var(--light-color);
    line-height: 2;
    text-transform: lowercase;
    font-size: 1.3rem;
    margin: 2rem 0;
}
.home .content .btn{
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 700;
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: .1rem .5rem 1rem #999;
}
.home .content .btn:hover{
    border-radius: 0;
    
    padding-right: 5rem;
}

.cars{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 3rem 5%;
    min-height: 100vh;
}

.cars span{
    color: var(--main-color);
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 1rem;
    font-weight: 600;
}
.cars h3{
    color: var(--black);
    font-size: 3rem;
    text-transform: uppercase;
  
    
}
.cars p{
    color: var(--light-color);
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.cars .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}
.cars .box-container .box{
    position: relative;
}
.cars .box-container .box:hover img{
    scale: 1.1;
}
.cars .box-container .box:hover a{
    background-color: var(--main-color);
}
.cars .box-container .box img{
    height: 20rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: .1rem .5rem 1rem #999;
}
.cars .box-container .box a{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}




















@media(max-width:990px){
    html{
        font-size: 55%;
    }
}



@media(max-width:768px){
    html{
        font-size: 50%;
    }
    .home{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 5rem;
    }
    .home .image{
        width: 100%;
    }
    .home .content{
        width: 100%;
    }
}

@media(max-width:450px){
    html{
        font-size: 49%;
    }
    .home {
        margin-top: 10rem ;
    }
    .home .image img{
       height: 29rem;
    }
    .home .content h1{
        font-size: 4rem;
    }
    .home .content span{
        font-size: 3.5rem;
    }
    .header .btn{
        display: none;
    }
    .header{
        position: relative;
    }
    .header  .navbar{
        position: absolute;
        top: 8em;
    }
    .home .content{
        padding-left: 5rem;
    }
    .cars{
        padding: 3rem 1%;
    }
    .cars p {
        width: 15rem;
        text-align: center;
    }
    .cars .box-container .box img{
        height: 25rem;
        width: 35rem;
        
    }
}